@import "tailwindcss";

:root {
  --background: #08080c;
  --foreground: #f3f4f6;
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Перспектива для 3D карт */
.perspective-1000 {
  perspective: 1000px;
}